openai
python-dotenv
fastapi
uvicorn[standard]
pydantic
langchain
langchain-community
langchain-core
googlesearch-python
beautifulsoup4
requests
PyPDF2
pdfplumber
pdf2image
Pillow
chromadb
sentence-transformers
opencv-python
pinecone-client
langchain-pinecone
python-magic
tiktoken
chardet
numpy
pandas
nltk
tqdm
weasyprint
pdfkit
google-cloud-vision
google
reportlab
fitz
streamlit
python-multipart
